html{
    /*Det er slik man koder for responsiv skrift */
    font-size: calc(0.5rem + 1vw)
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    gap: 20px;

}


#Logo{font-size: 3rem;
        font-weight: bold;

}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.4rem;}
p, a{font-size: 1rem;}




.Footer_skrift{
    font-weight: bold;
}

li{
    list-style: none;
}

#Global_header{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    flex-direction: column;
}


#header_navigeringsliste1{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    li a{
        text-decoration: none;
        color: black;
    }
}

#header_navigeringsliste2{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 0.5rem;

    li a{
        color: black;
    }
}

#søkefelt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 43px;
    padding: 2px;
    background-color: #f7f7f7;
  }
  
  #søkefelt input{
    width: 82%;
    padding: 4px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
  }
  
  #søkefelt button {
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
  }

#banner #slide11{
    display: flex !important;
    flex-wrap: wrap;
    background-image: url("../bilder/havet_i_Syria.jpg");
    /*image by pixapay https://pixabay.com/photos/sunset-rocks-beach-dusk-twilight-1985086/*/
    flex-direction: column;
    text-align: right;
    border-radius: 12px;
    height: 60vh;
    padding: 20px; 
    gap: 40px;
    position: relative;
    background-size: cover; 
    background-position: center; 
    color: white; 
    }

    #banner #slide22, #slide33{
        display: none;
    }

    #banner i{
        display: none;
    }

#banner #slide11 h2 {
    margin: 0 auto; /* Fjern fast margin og sentrer horisontalt */
    max-width: 90%; /* Sørger for at teksten ikke strekker seg utenfor */
    text-align: right;
    word-wrap: break-word; /* Bryt lange ord */
    color: black;
}

#banner #slide11 p {
    max-width: 98%;
    text-align: right;
    color: black;
    margin: 0 auto;
}

#banner  #slide11 nav{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 24px;
    position: absolute;
    bottom: 37px;
    left: 70%;
    padding: 10px 20px;
}

#banner #slide11 nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bolder;
    display: inline-block;
}

#Våre_mest_populære_produkter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-weight: bold;
    }
    nav ul{
        display: flex;
        gap: 3rem;
        padding: 0px;
    }
    nav ul li{
        border: 1px solid black;
        border-radius: 26px;
        padding: 13px;
    }
    #nye_produkter{
        background-color: black;
        a{
            color: white;
        }
    }
    nav ul li a{
        text-decoration: none;
        color: #000000;
        
    }

}


.produkt_kort {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    max-width: 100%; 
    box-sizing: border-box; 
}

.produkt_kort figure {
    margin: 0;
    position: relative; 
    width: 100%;
}

.produkt_kort img {
    width: 100%; 
    height: auto; 
    border-radius: 24px;
}

.produkt_kort .Pris {
    text-align: right;
    font-weight: bolder;
    width: 100%; 
    margin-top: 10px; 
}

.produkt_kort a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-top: 10px; 
    display: block; 
}

.produkt_kort button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(221, 221, 221, 1);
    border: none;
    padding: 11px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10; /* Sørger for at knappen er over bildet */
}

.produkt_kort button i {
    color: #ffffff80 ;
    font-size: 18px;
}

#Våre_med_populære_kategorier{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
}

#Våre_med_populære_kategorier h2{
    grid-column: 1/2;
    grid-row: 1;
}

#Våre_med_populære_kategorier p{
    grid-column: 1/2;
    grid-row: 2;
}

#Våre_med_populære_kategorier{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
#Våre_med_populære_kategorier article{
    width: 100%;
    max-width: 402px;
    height: 300px;
    background-size: cover;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Kategori1{
    background-image: url(../bilder/masse_randome_ting.png);
    /*Image from https://picsum.photos/images*/
    grid-column: 1/2;
    grid-row: 3;
}

#Kategori2{
    background-image: url(../bilder/dame_sko.png);
    /*Image from https://picsum.photos/images*/
    grid-column: 1/2;
    grid-row: 4;
}

#Kategori3{
    background-image: url(../bilder/bok.png);
    /*Image from https://picsum.photos/images*/
    grid-column: 1/2;
    grid-row: 5;
}

#Kategori4{
    background-image: url(../bilder/Trær.png);
    /*Image from https://picsum.photos/images*/
    grid-column: 1/2;
    grid-row: 6;
}

#Kategori5{
    background-image: url(../bilder/vei_iskogen.png);
    /*Image from https://picsum.photos/images*/
    grid-column: 1/2;
    grid-row: 7;
}

#Våre_med_populære_kategorier article h3{
    position: absolute;
    color: white;
}

.Anmeldelser_kort{
    max-width: 289px;
    display: flex;
    flex: 0 0 70%; /* Dette gjør at hvert kort tar opp 70% av bredden */
}


.Anmeldelser_kort img { 
    border-radius: 50%;
    height: 94px;
    width: 94px;
}


.Anmeldelser h2{
    text-align: left; 
    margin-bottom: 20px;
}

#Anmeldelser_uten_overskrift{
    padding: 20px;
    overflow-x: auto; 
    display: flex; 
    gap: 20px; 
    text-align: left;
}

#Global_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

#footer_logo{
    grid-column: 1/4;
    grid-row: 1/2;
}
#Kontakt_oss{
    grid-column: 1/3;
    grid-row: 2/3;
}
#Snarveier{
    grid-column: 3/4;
    grid-row: 2/3;
}
#sosiale_medier{
    grid-column: 1/4;
    grid-row: 3/4;
}

#Kontakt_oss ul{
    gap: 1rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 2px;
}

#Snarveier ul{
    gap: 1rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 2px;
}

#hopp_til_toppen{
    text-decoration: none;
    margin-top: 2rem;
}
#sosiale_medier ul{
    gap: 3rem;
    display: flex;
    text-align: left;
    padding: 2px;
}


#sosiale_medier ul li a i{
    font-size: 2rem;
}

.footer_liste a{
    text-decoration: none;
    color: #000000;
}
.footer_liste{
    gap: 1rem;
}

#breadcrumb1 ul{
    display: flex;
    gap: 1rem;
    text-align: left;
    padding: 0;
}

#breadcrumb1 ul li a{
    text-decoration: none;
    color: black;
    font: 1rem;
}

.Produktnavn_breadcrumb{
    font-weight: bolder;
    font: 1rem;
}

#Stor_bride_bilde{
    max-width: 100%;
    height: 100%;
    display: flex;
}
.liten_bride_bilde{
    max-width: 100%;
    height: 100%;
    display: flex;
}

#prdoukt_bildet_bride{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
}
#Stor_bride_bilde1{
    grid-column: 2/3;
    grid-row: 1/4;
}
.liten_bride_bilde1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.liten_bride_bilde2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.liten_bride_bilde3{
    grid-column: 1/2;
    grid-row: 3/4;
}
#prdoukt_bildet_bride{
    gap: 1rem;
}

#produkt_farge{
    font-weight: bolder;
}
#info_om_produkte{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#legg_handle_kurv_knapp{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

#knapp_kurv{
    width: 87%;
    background-color: black;
    color: white;
    padding: 1.1rem;
    border-radius: 1px;
    border: 1rem;
}
#hjerte_knapp2{
    width: 12%;
    background-color: white;
    border: 1px #9f9f9f solid;
}


#størelse_valg{
    justify-content: center;
    display: flex;
    select{
        width: 100%;
        border-radius: 1px;
        padding: 1rem;
        border: 1px #b9adad solid;
    }
}


details {
    margin-bottom: 32px; 
    padding-bottom: 16px; 
    border-bottom: 1px solid #ccc;

}

details summary {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details ul, details p, details table {
    margin-top: 8px;
    font-size: 0.9rem;
    line-height: 1.5;
}
#Stjener_for_andmelser{
    display: flex;
}
#Anmeldelser_kort1{
    border-bottom: none;
}

#Metriale_og_vedlikehold{
    border-top: 1px solid #ccc;
    margin-bottom: 16px;
    padding-top: 16px;
}

#Metriale_og_vedlikehold ul li{
    list-style: disc;
}


#alle_produkten_i_produktsiden {
    display: flex; 
    overflow-x: auto; 
    gap: 1rem; 
    padding: 1rem 0;
}

.produkt_kort2 {
    position: relative;
    display: flex;
    flex: 0 0 auto; 
    width: 55%;
}

.produkt_kort2 figure {
    margin: 0;
    position: relative; 
    width: 100%;
}

.produkt_kort2 img {
    width: 100%; 
    height: 200px; 
    border-radius: 24px;
}

.produkt_kort2 .Pris {
    text-align: right;
    font-weight: bolder;
    width: 100%; 
    margin-top: 10px; 
}

.produkt_kort2 a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-top: 10px; 
    display: block; 
}

.produkt_kort2 button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(179, 168, 165);
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10; /* Sørger for at knappen er over bildet */
}

.produkt_kort2 button i {
    color: #fff ;
    font-size: 16px;
}

#Section1_kasse nav a{
    text-decoration: none;
    i{
        margin-right: 1rem;
    }
}
#Section1_kasse h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 2rem;
}

#Section1_kasse{
    margin-bottom: 3rem;
}

#Section2_kasse{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem;
    ul{
        padding: 1px;
    }
    form{
        margin-bottom: 4rem;
    }
    h3, ul, form, p{
        margin-left: 2rem;
    }
    article p i{
        font-size: 1.2rem;
    }
    article figure figcaption h3{
        margin-bottom: 0;
    }
}
.checkout_produktkort{
    width: 100%;
}
#Section2_kasse article figure{
    margin: 0;
}

#Section2_kasse article figure picture img{
    width: 152px;
    height: 184px;
    max-width: 100%;
    margin: 2rem;
    margin-left: 0;

}
#Section2_kasse article figure figcaption form label select{
    border: 1px solid white;
    padding: 10px;
}
#Section2_kasse article p{
    display: flex;
    gap: 1rem;
}

#Form_dine_opplysninger{
    display: flex;
    flex-direction: column;

    label{
        display: flex;
        flex-direction: column;
        font-weight: bolder;
    }
    input{
        border: 2px solid #dfdfdf;
        padding: 11px
    }
}
#Section3_kasse h3{
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: normal;

}
#Section3_kasse article{
    margin: 2rem;
}
#Kontaktinformasjon{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
#form_kontaktinformasjon{
    display: flex;
    flex-direction: column;
}

#form_kontaktinformasjon label{
    width: 100%;
    display: flex;
    flex-direction: column;
    input{
        border: 2px solid #dfdfdf;
        padding: 11px
    }
}

#lagre_knapp{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #3c3c3c;
    padding: 12px;
    margin-top: 2rem;
}

#Avbryt_knapp{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#Section4_kasse{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
.Levering{
    border: 2px solid #e8e8e8;
    gap: 2rem;
}

#Section5_kasse{
    display: flex;
    flex-direction: column;
    #betalingsskjema1{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        label{
            display: flex;
            flex-direction: column;
        }
        input{
            border: 2px solid #dfdfdf;
            padding: 8px;
        }
    }
    #Total_pris1{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        p{
            display: flex;
            justify-content: center;
        }
    }
}
#utlopsdato1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

#utlopsdato {
    width: 100%; 
    padding-right: 2.5rem; 
    box-sizing: border-box; 
}

#utlopsdato1 i {
    position: absolute;
    right: 0.8rem;
    top: 47%;
    pointer-events: none;
    color: #999;
    font-size: 1.4rem;
}

#Fullfør_kjøp_knapp{
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color:#3c3c3c;
    color: white;
    border: none;
}

#Total_pris{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#vilkårene_tekst{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.checkbox_vilkår{
    display: flex;
    justify-content: center;
}




@media  (min-width: 700px) and (max-width: 1200px){
        
    html{
        font-size: calc(0.5rem + 1vw)
    }
    
    
    *{
        box-sizing: border-box;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    h1{font-size: 1.6rem;}
    h2{font-size: 1.3rem;}
    h3{font-size: 1rem;}
    h4{font-size: 1rem;}
    p, a{font-size: 0.7rem;}
    i{font-size: 0.7rem;}
    #Logo{font-size: 1.5rem;}
    
        #global_container{
            display: grid;
            grid-template-columns: 0.5fr 5fr 0.5fr;
            grid-template-rows: auto auto auto;
        }

        #Global_header, #global_main, #Global_footer{
            grid-column: 2/3;
        }
        #Global_header{
            grid-row: 1/2;
        }
        #global_main{
            grid-row: 2/3;
        }
        #Global_footer{
            grid-row: 3/4;
        }

        #Global_header {
            display: flex;
            flex-direction: row; 
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        #header_navigeringsliste2 li a:hover i.fa-cart-shopping {
            transform: scale(1.4); 
        }
        #søkefelt{
            padding: 0px;
            display: flex;
            flex-direction: row;
        }
        #søkefelt input {
            width: 100%;
            padding: 9px;
            border: none;
            border-radius: 16px;
            font-size: 12px;
          }
        #søkefelt button {
            border: none;
            padding: 8px 12px;
            border-radius: 50%;
            margin-left: 15px;
            background-color: #f7f7f7;
          }

    
        #header_navigeringsliste1, 
        #header_navigeringsliste2 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row; 
            gap: 2rem; 
            li a:hover{
                text-decoration: underline;
            }
            #Logo1:hover{
                text-decoration: none;
            }
        }
        #header_navigeringsmeny{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 4rem;
        }
        #header_navigeringsliste2{
            gap: 10px;
        }


        #Global_footer{
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            grid-template-rows: auto auto;
            gap: 2rem;
            margin-bottom: 4rem;
        }
        
        #footer_logo{
            grid-column: 1/4;
            grid-row: 1/2;
        }
        #Kontakt_oss{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #Snarveier{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        #sosiale_medier{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        
        #Kontakt_oss ul{
            gap: 1rem;
            display: flex;
            text-align: left;
            flex-direction: column;
            padding: 1px;
            li{
                font-size: 0.8rem;
            }
        }
        
        #Snarveier ul{
            gap: 0.4rem;
            display: flex;
            text-align: left;
            flex-direction: column;
            padding: 2px;
        }
        
        #sosiale_medier ul{
            gap: 1rem;
            display: flex;
            text-align: center;
            padding: 2px;
        }
        
        
        #sosiale_medier ul li a i{
            font-size: 20px;
        }
        
        .footer_liste a{
            text-decoration: none;
            color: #000000;
        }
        .footer_liste{
            gap: 1rem;
        }

        #Våre_mest_populære_produkter{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            gap: 2rem;
            h2{
                font-weight: bold;
            }
            .oppdag_det_beste{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            nav{
                display: flex;
                justify-content: center;
                width: 100%;
            }
            nav ul{
                display: flex;
                gap: 1rem;
                padding: 0px;
            }
            nav ul li{
                border: 1px solid black;
                border-radius: 26px;
                padding: 6px 36px;
            }
            #nye_produkter{
                background-color: black;
                a{
                    color: white;
                }
            }
            #nye_produkter:hover{
                background-color: #534f4f;
            }
            nav ul li:hover{
                background-color: #534f4f;
            }
            nav ul li a{
                text-decoration: none;
                color: #000000;
                
            }
            nav ul li a:hover{
                color: white;
            }
            .produkt_kort button:hover {
                background: rgb(221, 70, 70);
            }
        
        }

        .produkt_kort{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 300px;

        }

        #Våre_med_populære_kategorier{
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            gap: 1rem;
            article{
                max-width: 100%;
            }
            h2{
                width: 100%;
                justify-content: center;
                display: flex;
                grid-column: 1/4;
                grid-row: 1/2;
            }
            p{
                display: flex;
                justify-content: center;
                margin-bottom: 3rem;
                width: 100%;
                grid-column: 1/4;
                grid-row: 2/3;
            }

            #Kategori1{
                width: 313px;
                grid-column: 1/2;
                grid-row: 3/4;
            }
            #Kategori2{
                width: 313px;
                grid-column: 2/3;
                grid-row: 3/4;
            }
            #Kategori3{
                width: 313px;
                grid-column: 3/4;
                grid-row: 3/5;
                height: 451px
            }
            #Kategori4{
                width: 864px;
                grid-column: 1/3;
                grid-row: 4/6;
                height: 100%;
            }
            #Kategori5{
                width: 300px;
                grid-column: 3/4;
                grid-row: 5/6;
            }
        }

        
        #produkut_container{
            display: grid;
            grid-template-columns: 0.5fr 5fr 0.5fr;
            grid-template-rows: auto auto auto auto auto;

        }
        #Global_header ,#breadcrumb1, #produktsiden_main,#aside_container ,#Global_footer{
            grid-column: 2/3;
        }
        #Global_header{
            grid-row: 1/2;
        }
        #breadcrumb1{
            grid-row: 2/3;
        }
        #produktsiden_main{
            grid-row: 3/4;
        }
        #aside_container{
            grid-row: 4/5;
        }
        #Global_footer{
            grid-row: 5/6;
        }


        #produktsiden_main{
            display: flex;
            gap: 1rem;
        }

        #bilder_for_produktsiden{
            max-width: 700px;
        }

        #info_om_produkte{
            max-width: 100%;
            width: 440px;
        }
        
        h2 {
            font-size: 1rem;
          }
        

        #bilder_for_produktsiden {
            max-width: 570px;
            width: 100%;
        }
          .Produktnavn_breadcrumb {
            font-weight: bolder;
            font-size: 0.8rem;
        }
        #info_om_produkte{
            gap:0.6rem;
        }

        #info_om_produkte details summary{
            font-size: 0.7rem;
        }
        details {
            padding-bottom: 32px
        }

        #størelse_valg :hover {
            border: 2px #000 solid;
        }
        #info_om_produkte #legg_handle_kurv_knapp #knapp_kurv:hover{
            background-color: #685f5f;
        }
        #info_om_produkte #hjerte_knapp2{
            width: 16%;
        }

        #info_om_produkte #hjerte_knapp2 i:hover{
            color: #e83e3e;
        }

        #Metriale_og_vedlikehold ul li {
            font-size: 0.7rem;
        }
        details p, details table {
            margin-top: 8px;
            font-size: 0.6rem;
            line-height: 1.4;
        }
        .produkt_kort2{
            width: 21%;
        }
        .produkt_kort2 button i {
            color: #fff;
            font-size: 16px;
          }
        .produkt_kort2 button:hover {
            background-color: #ff393980;
        }

        #checkout_container{
            display: grid;
            grid-template-columns: 0.5fr 5fr 0.5fr;
            grid-template-rows: auto auto auto;
        }

        #Global_header, #main_checkout, #Global_footer{
            grid-column: 2/3 ;
        }
        
        #Global_header{
            grid-row: 1/2;
        }

        #main_checkout{
            grid-row: 2/3;
        }

        #checkout_container #Global_footer{
            grid-row: 3/4;
        }

        #Section2_kasse{
            border: 2px #f2f1f1 solid;
            gap: 0;
            h2{
                justify-content: center;
                display: flex;
                margin-right: 19rem;
            }


        }
        .checkout_produktkort{
            display: flex;
            justify-content: center;
            figure{
                display: flex;
                figcaption {
                    margin-top: 2rem;
                }

                figcaption ul li{
                    font-size: 0.8rem;
                }
            }
        }
        #Section2_kasse article figure picture img{
            width: 218px;
            height: 235px;
            margin: 0;
        }
        #Section2_kasse article figure figcaption form label{
            font-size: 0.8rem;
        }
        #Section2_kasse article p{
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            i{
                font-size: 0.8rem;
            }
        }

        #antall2, #antall, #antall3 {
            width: 58px;
            text-align: center;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 0px;
            padding: 10px;
        }

        #Section3_kasse{
            border: 2px #f2f1f1 solid;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            h2{
                justify-content: center;
                display: flex;
                margin-right: 28rem;
            }
        }
        #leverings_adressen{
            flex-direction: column;
            display: flex;
            margin: 0;
            h3{
                width: 100%;
                display: flex;
                margin-left: 4rem;
                flex-wrap: wrap;
            }
        }
        #Form_dine_opplysninger{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;

            label{
                font-weight: normal;
            }

            #fornavn1{
                width: 40%;
            }
            #etternavn1{
                width: 40%;
            }
            #gateadresse1{
                width: 83%;
            }
            #postnummer1{
                width: 40%;
            }
            #Poststed1{
                width: 40%;
            }
        }
        
        #form_kontaktinformasjon{
            align-items: center;
            gap: 1rem;
            label{
                width: 83%;
            }
        }
        #Kontaktinformasjon h3{
            margin-left: 3.7rem;
            display: flex;
            flex-wrap: wrap;
        }
        #knapper{
            display: flex;
            flex-direction: column;

        }
        #lagre_knapp{
            width: 83%;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
        }

        #Section4_kasse{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border: 2px #f2f1f1 solid;
            margin: 0;
            margin-top: 1rem;
            form{
                align-items: center;
                margin-bottom: 1rem;
            }
            h2{
                margin-right: 36rem;
            }
            h3{
                margin-right: 34rem;
            }
        }
        .Levering{
            width: 83%;
            padding: 1rem;
            span{
                font-size: 0.7rem;
                color: #a69090;
            }
        }
        #Section5_kasse{
            border: 2px #f2f1f1 solid;
            margin-top: 1rem;
            align-items: center;
            h2{
                margin-right: 34rem;
            }
        }
        #betalingsskjema{
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        #betalingsskjema article label{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 83%;
            i{
                font-size: 1rem;
            }
            input{
                padding: 11px;
            }
        }
        #betalingsskjema1{
            flex-direction: row !important;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            #kortnummer1{
                width: 83%;
            }
            #utlopsdato1{
                width: 40%;
            }
            #cvc1{
                width: 40%;
            }
        }
        #Total_pris1{
            align-items: center;
        }
        
        
        #Fullfør_kjøp_knapp{
            width: 83%;
        }
        #vilkår_artikkel{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin: 1rem 3.6rem;
        }
        #vilkår_artikkel .checkbox_vilkår{
            display: flex;
            flex-direction: row;
        }

        /*#banner {
            overflow: auto;
            width: 100%;
            max-width: 988px;
            display: block ruby;
        }*/

        #banner{
            overflow: auto;
            width: 100%;
            max-width: 988px;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            position: relative;
            border-radius: 12px;
        }

        #banner article{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: right;
            border-radius: 12px;
            height: 60vh;
            padding: 20px; 
            gap: 40px;
            position: relative;
            background-size: cover; 
            background-position: center; 
            color: white; 
            width: 1000px;
            }
        
        #banner i{
            display: flex;
        }

        .fa-arrow-left-long {
            color: #200;
            border-radius: 118%;
            left: 20px;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size: 1.4rem;
            z-index: 10;
            top: 163px;
            padding: 23px;
        }
        .fa-arrow-right-long{
            color: #200;
            border-radius: 50%;
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size: 1.4rem;
            z-index: 10;
            right: 20px;
            top: 163px;
            padding: 23px;
        }
        .fa-arrow-left-long,
        .fa-arrow-right-long {
            background: rgba(202, 201, 201, 0.8);
            backdrop-filter: blur(1px);
            position: sticky;
        }

        #hopp_til_toppen{
            text-decoration: none;
            margin-top: 2rem;
        }
            
        #banner #slide22{
            display: flex !important;
            background-image: url("../bilder/sol_nedgang.jpg");
            /*image by pixapay https://pixabay.com/photos/safari-nature-sunset-tree-wildlife-7486578/*/
        }
        #banner #slide33{
            background-image: url("../bilder/tre_pyramidene.jpg");
            /*Image from https://pixabay.com/photos/pyramids-egypt-giza-archeology-2159286/*/
        }

        #banner article{
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        #banner #slide11 h2 {
            max-width: 400px;
            text-align: right;
            word-wrap: break-word;
            color: black;
            margin-right: 35px;
            font-size: 1.7rem;
        }
        #banner #slide22 h2 {
            max-width: 400px;
            text-align: left;
            word-wrap: break-word;
            margin-left: 2rem;
            font-size: 1.7rem;
            margin-top: 0;
            color: #ffeded;
            margin-bottom: 0;
        }
        #banner #slide33 h2 {
            max-width: 400px;
            text-align: left;
            word-wrap: break-word;
            margin-left: 2rem;
            font-size: 1.7rem;
            margin-top: 0;
            color: #ffeded;
            margin-bottom: 0;
        }
        
        #banner #slide11 p {
            max-width: 40%;
            text-align: right;
            color: black;
            margin-right: 2rem;
        }

        #banner #slide22 p {
            max-width: 40%;
            text-align: left;
            color: black;
            margin-right: 2rem;
            margin: 0;
            margin-right: 2rem;
            color: #ffeded;
            margin-left: 2rem;
        }

        #banner #slide33 p {
            max-width: 40%;
            text-align: left;
            color: black;
            margin-right: 2rem;
            margin: 0;
            margin-right: 2rem;
            color: #ffeded;
            margin-left: 2rem;
        }
        
        
        
        #banner  #slide11 nav {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 24px;
            position: absolute;
            bottom: 38px;
            left: 83%;
            padding: 10px 20px;
        }

        #banner  #slide22 nav {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 24px;
            position: absolute;
            bottom: 38px;
            left: 6%;
            padding: 10px 20px;
        }
        #banner  #slide33 nav {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 24px;
            position: absolute;
            bottom: 38px;
            left: 6%;
            padding: 10px 20px;
        }
        
        #banner #slide11 nav a {
            text-decoration: none;
            color: black;
            padding: 10px;
            font-weight: bolder;
            display: inline-block;
        }

        #banner #slide22 nav a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 10px;
            font-weight: bolder;
            display: inline-block;
        }

        #banner #slide33 nav a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            padding: 10px;
            font-weight: bolder;
            display: inline-block;
        }
    }

    /* Tablet Media Query */
@media (max-width: 700px) and (min-width: 500px) {
    #Våre_med_populære_kategorier {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
    }

    h2{
        grid-column: 1 / 3;
        grid-row: 1;
    }
    p{
        grid-column: 1/3;
        grid-row: 2;
    }

    #Kategori1 {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    #Kategori2 {
        grid-column: 2 / 3;
        grid-row: 3;
    }

    #Kategori3 {
        grid-column: 1 / 2;
        grid-row: 4;
    }

    #Kategori4 {
        grid-column: 2 / 3;
        grid-row: 4;
    }

    #Kategori5 {
        grid-column: 1 / 2;
        grid-row: 5;
    }

    h2, p{
        display: flex;
        justify-content: center;
    }
}