html{
    /*Det er slik man koder for responsiv skrift */
    font-size: calc(0.5rem + 1vw)
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}

#Logo{font-size: 3rem;
        font-weight: bold;

}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.4rem;}
p, a{font-size: 1rem;}


.Footer_skrift{
    font-weight: bold;
}

li{
    list-style: none;
}

#Global_header{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}


#header_navigeringsliste1{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    li a{
        text-decoration: none;
        color: black;
    }
}

#header_navigeringsliste2{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 0.5rem;

    li a{
        color: black;
    }
}

#søkefelt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 43px;
    padding: 2px;
    background-color: #f7f7f7;
  }
  
  #søkefelt input{
    width: 82%;
    padding: 4px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
  }
  
  #søkefelt button {
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
  }

#banner{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../bilder/strand_bildet_eksamen11.jpg");

    text-align: right;
    border-radius: 12px;
    height: 453px;
    padding-right: 20px;

    h1  {
        display: flex;
        flex-wrap: wrap;
        margin-left: 269px;
    }
    p {
        display: flex;
        flex-wrap: wrap;
        margin-left: 230px;
        margin-bottom: 60px;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        background-color: #f7f7f7;
        margin-left: 76%;
        border-radius: 24px;
        margin-bottom: 32px;
        max-height: 55px;
        min-height: 55px;
        a {
            text-decoration: none;
            color: black;
            padding: 17px;
            font-weight: bolder;
        }
    }

    }

#Våre_mest_populære_produkter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-weight: bold;
    }
    nav ul{
        display: flex;
        gap: 3rem;
        padding: 0px;
    }
    nav ul li{
        border: 1px solid black;
        border-radius: 26px;
        padding: 13px;
    }
    nav ul li:hover{
        background-color: #534f4f;
    }
    #nye_produkter{
        background-color: black;
        a{
            color: white;
        }
    }
    nav ul li a{
        text-decoration: none;
        color: #000000;
        
    }
    nav ul li a:hover{
        color: white;
    }

}


.produkt_kort {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    max-width: 100%; 
    box-sizing: border-box; 
}

.produkt_kort figure {
    margin: 0;
    position: relative; 
    width: 100%;
}

.produkt_kort img {
    width: 100%; 
    height: auto; 
    border-radius: 24px;
}

.produkt_kort .Pris {
    text-align: right;
    font-weight: bolder;
    width: 100%; 
    margin-top: 10px; 
}

.produkt_kort a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
    margin-top: 10px; 
    display: block; 
}

.produkt_kort button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(179, 168, 165);
    border: none;
    padding: 11px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10; /* Sørg for at knappen er over bildet */
}

.produkt_kort button i {
    color: #ffffff80;
    font-size: 18px;
}

.produkt_kort button i:hover {
    color: #ff000080;
}


#Våre_med_populære_kategorier{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
#Våre_med_populære_kategorier article{
    width: 100%;
    max-width: 402px;
    height: 300px;
    background-size: cover;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(3px);
}
#Kategori1{
    background-image: url(../bilder/masse_randome_ting.jpg);
}

#Kategori2{
    background-image: url(../bilder/dame_sko.jpg);
}

#Kategori3{
    background-image: url(../bilder/bok.jpg);
}

#Kategori4{
    background-image: url(../bilder/Trær.jpg);
}

#Kategori5{
    background-image: url(../bilder/vei_iskogen.jpg);
}

#Våre_med_populære_kategorier article h3{
    position: absolute;
    color: white;
}



